# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.after.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.before.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.exception-based.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.exception-based.01.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.given.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.return-based.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.return-based.01.cc.html
