# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.after.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.before.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.exception-based.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.exception-based.01.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.given.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.return-based.00.cc.html
/P2381R0-Pattern Matching with Exception Handling/snippets/snippet.return-based.01.cc.html
/function_ref/snippets/handlebars.java-4.2.0
/function_ref/snippets/site/snippets
/function_ref/snippets/no-doc
/function_ref/snippets/doc
/function_ref/snippets/Swiss-Cheese.svg
/function_ref/function_ref.hpp
/C++ enum class as a variable template parameter - Stack Overflow.pdf
/C++ typedef member function signature syntax - Stack Overflow.pdf
/Enum reflection in C++ with template metaprogramming.pdf
/Generic Programming Techniques.pdf
/Passing overload sets to functions.pdf
/Tag Dispatch_ Useful Empty Classes - Simplify C++!.pdf
/c++ - How to build a compile-time key_value store_ - Stack Overflow.pdf
/c++ - Tag dispatch with classes - Stack Overflow.pdf
/c++ - Template argument for template type parameter must be a type - Stack Overflow.pdf
/c++ - Type trait to match signatures of member functions of different classes - Stack Overflow.pdf
/c++ - Why use `std__bind_front` over lambdas in C++20_ - Stack Overflow.pdf
/c++ - declare template friend function of template class - Stack Overflow.pdf
/c++ - generic member function pointer as a template parameter - Stack Overflow.pdf
/c++ - is_function_pointer__ for _type_traits_ - Stack Overflow.pdf
/callback.pdf
/e_fpt.pdf
/function_ref/snippets/site/references/CALLBACKS IN C++ USING TEMPLATE FUNCTORS.pdf
/function_ref/snippets/site/references/Callback (computer programming) - Wikipedia.pdf
/function_ref/snippets/site/references/Delegates - C# Programming Guide _ Microsoft Docs.pdf
/function_ref/snippets/site/references/Digital Mars - c++ - How are member function pointers implemented by DMC_.pdf
/function_ref/snippets/site/references/Function object - Wikipedia.pdf
/function_ref/snippets/site/references/Function pointer - Wikipedia.pdf
/function_ref/snippets/site/references/How to convert C++ member function point - C++ Forum.pdf
/function_ref/snippets/site/references/Implementing function_view is harder than you might think.pdf
/function_ref/snippets/site/references/Impossibly fast delegate in C++11.pdf
/function_ref/snippets/site/references/Member Function Pointers and the Fastest Possible C++ Delegates - CodeProject.pdf
/function_ref/snippets/site/references/Member function pointer and efficient C++ delegate (delegate) - Fear Cat.pdf
/function_ref/snippets/site/references/Member function pointer and high-performance C++ delegate - Fear Cat.pdf
/function_ref/snippets/site/references/Member function pointers and high-performance C ++ delegation (Part 1).pdf
/function_ref/snippets/site/references/Member function pointers and high-performance C++ delegation (part 2) \[Repost\] - Fire Heart.pdf
/function_ref/snippets/site/references/Obscure C++ Features - Made by Evan.original.pdf
/function_ref/snippets/site/references/Obscure C++ Features - Made by Evan.pdf
/function_ref/snippets/site/references/Pointer declaration - cppreference.com.pdf
/function_ref/snippets/site/references/Pointers to Member Functions, C++ FAQ.pdf
/function_ref/snippets/site/references/Pointers to member functions are very strange animals _ The Old New Thing.pdf
/function_ref/snippets/site/references/Pointers to member functions are very strange animals.pdf
/function_ref/snippets/site/references/The Impossibly Fast C++ Delegates - CodeProject.pdf
/function_ref/snippets/site/references/Using A C++ Object's Member Function with C-style Callbacks - Embedded Artistry.pdf
/function_ref/snippets/site/references/Using Delegates - C# Programming Guide _ Microsoft Docs.pdf
/function_ref/snippets/site/references/What is a _callback_ in C and how are they implemented_ - Stack Overflow.pdf
/function_ref/snippets/site/references/Why C++ Member Function Pointers Are 16 Bytes Wide - Vlad Lazarenko.pdf
/function_ref/snippets/site/references/Why the size of a pointer to a function is different from the size of a pointer to a member function_ _ Newbedev.pdf
/function_ref/snippets/site/references/__closure - RAD Studio.pdf
/function_ref/snippets/site/references/c++ - About sizeof of a class member function pointer - Stack Overflow.pdf
/function_ref/snippets/site/references/c++ - Impossibly fast delegate in C++11 - Code Review Stack Exchange.original.pdf
/function_ref/snippets/site/references/c++ - Is the sizeof(some pointer) always equal to four_ - Stack Overflow.pdf
/function_ref/snippets/site/references/c++ - Pointers to members representations - Stack Overflow.pdf
/function_ref/snippets/site/references/calling_conventions.pdf
/function_ref/snippets/site/references/p0792r0.pdf
/function_ref/snippets/site/references/p0792r2.pdf
/function_ref/snippets/site/references/template-constructor/C++ template constructor - Stack Overflow.pdf
/function_ref/snippets/site/references/template-constructor/Class template argument deduction (CTAD) (since C++17) - cppreference.com.pdf
/function_ref/snippets/site/references/template-constructor/Class template argument deduction(since C++17) - cppreference.com.pdf
/function_ref/snippets/site/references/template-constructor/Class template deduction(since C++17) - cppreference.com.pdf
/function_ref/snippets/site/references/template-constructor/How to call template constructor_ _ C++ Community.pdf
/function_ref/snippets/site/references/template-constructor/Member templates - cppreference.com.pdf
/function_ref/snippets/site/references/template-constructor/Template Constructor Confusion - C++ Forum.pdf
/function_ref/snippets/site/references/template-constructor/_constructor template_ c++ - Google Search.pdf
/function_ref/snippets/site/references/template-constructor/_template constructor_ c++ - Google Search.pdf
/function_ref/snippets/site/references/template-constructor/c++ - Can the template parameters of a constructor be explicitly specified_ - Stack Overflow.pdf
/function_ref/snippets/site/references/template-constructor/c++ - Impossibly fast delegate in C++11 - Code Review Stack Exchange.pdf
/function_ref/snippets/site/references/template-constructor/function vs variable declaration in C++ - Stack Overflow.pdf
/function_ref/snippets/{{ Handlebars.java }} - Prototype your web sites with Handlebars.java!.pdf
/p0477r0.pdf
/std__bind_front - cppreference.com.pdf
/std__is_same - cppreference.com.pdf
/function_ref/snippets/site/references/C++ Delegates and Borland's C++ Builder Event Handling - Part I - CodeProject.pdf
/function_ref/snippets/site/references/CALLBACKS IN C++ USING TEMPLATE FUNCTORS.html
/function_ref/snippets/site/references/p0792r0.html
/function_ref/snippets/site/references/p0792r2.html
/function_ref/snippets/site/references/template-constructor/delegate-usage.cpp
/function_ref/snippets/site/references/template-constructor/delegate.hpp
/function_ref/snippets/*.url
/function_ref/snippets/handlebars-proto-4.2.0.jar
/function_ref/snippets/handlebars.java-4.2.0.zip
/function_ref/snippets/start.bat
